@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --color-gold: #591d29;
  --color-gold-dark: #3d141c;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased selection:bg-gold selection:text-white;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(89, 29, 41, 0.3);
  }
  .bg-grid {
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}
